<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>

<body>
    <h1 style="text-align: center; padding:20px;">Aqui se mostraran la paginacion de los productos</h1>
    {{#each products}}
    <div >
    <h2 style="text-align: center;">{{this.title}}</h2>
    </div>
    {{/each}}
   <p style="text-align: center;">Pagina {{page}} de {{totalPages}}</p> 

    <div style="text-align: center;">
        {{#if hasPrevPage}}
        <a style="padding-right:10px;" href="/products?page={{prevPage}}">Anterior</a>
        {{/if}}

        {{#if hasNextPage}}
        <a style="padding-left:10px;" href="/products?page={{nextPage}}">Siguiente</a>
        {{/if}}
    </div>
 
</body>
<script src="../js/main.js"></script>
 
</html>